<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cg.applcation.systemedesurveillance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_three"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SystemeDeSurveillance">
        <activity
            android:name=".enseignant.AddStudencePresence"
            android:label="Ajouter une Presence"
            android:parentActivityName=".enseignant.ShowPresence"
            android:exported="false" />
        <activity
            android:name=".enseignant.ShowPresence"
            android:exported="false"
            android:label="Liste de Presence"
            android:parentActivityName=".enseignant.TeacherDashboard" />
        <activity
            android:name=".administrateur.AddSubject"
            android:exported="false"
            android:label="Ajouter une matière"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".administrateur.AddClassroom"
            android:exported="false"
            android:label="Ajouter une classe"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".enseignant.AddAClass"
            android:exported="false"
            android:label="Ajouter un Cours"
            android:parentActivityName=".enseignant.TeacherDashboard" />
        <activity
            android:name=".enseignant.TeacherDashboard"
            android:exported="true"
            android:label="Dashbaord"></activity>
        <activity
            android:name=".administrateur.AddUserAccount"
            android:exported="false"
            android:label="Ajouter un Compte"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".administrateur.AddTeacher"
            android:exported="false"
            android:label="Ajouter un Enseignant"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".administrateur.DisplayTeachers"
            android:exported="false"
            android:label="Liste des Enseignant"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".administrateur.AddStudent"
            android:exported="false"
            android:label="Ajouter un Etudiant"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".authentification.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Administration" />
    </application>

</manifest>